/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* ------------------ */

body {
	font-size: 16px;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-weight: 500;
	background-color: hsl(197, 96%, 38%);
	color: hsl(197, 33%, 41%);

	display: flex;
	align-items: center;
	place-content: center;
}

h1.header {
	color: hsl(197, 96%, 38%);
	font-size: 1.75rem;
	font-weight: 700;
	margin: 0 0 0.75rem 0;
}

section.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	place-content: center;

	width: 640px;
	height: 420px;
	background-color: hsl(187, 30%, 79%);
	border-radius: 10px;
}

button.get-button {
	display: block;
	margin: 0.75rem auto 1.5rem;
	width: 7rem;
	height: 4rem;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	background-color: hsl(191, 96%, 38%);
	color: hsl(187, 30%, 79%);
	transition: background-color ease-in-out 0.2s;
}

button.get-button:hover {
	background-color: hsl(197, 96%, 38%);
}

button.get-button:active {
	background-color: hsl(197, 96%, 30%);
}

section.main {
	display: flex;
   flex-direction: column;
   align-items: center;
   place-content: center;

   width: 640px;
   height: 420px;
   background-color: hsl(187, 30%, 79%);
   border-radius: 10px;
}

.hidden {
	visibility: hidden;
}

div.redirect-message {
	position: absolute;
	margin: auto;
	display: flex;
   flex-direction: column;
   align-items: center;
   place-content: center;
	
   width: 640px;
   height: 420px;
   background-color: hsl(187, 30%, 79%);
   border-radius: 10px;
	padding: 1.5rem;
}

div.spinner {
	width: 3rem;
   height: 3rem;
	margin-bottom: 1rem;
	border-radius: 50%;
	border: 5px solid hsl(187, 21%, 66%);
	border-right-color: hsl(197, 96%, 38%);
	animation: rotateSpinner 800ms linear infinite;
}

@keyframes rotateSpinner {
	to {
		transform: rotate(360deg);
	}
}