/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* ------------------ */

body {
	font-size: 16px;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-weight: 500;
	background-color: hsl(197, 96%, 38%);
	color: hsl(197, 33%, 41%);

	display: flex;
	align-items: center;
	place-content: center;
}

section {
	width: 100%;
	margin: 1rem;
	padding: 0.5rem;
	background-color: hsl(187, 30%, 79%);
	border-radius: 10px;
}

td {
	border:1px solid hsl(197, 33%, 41%);
	padding: 0 0.5rem;
}

p {
	margin-top: 1rem;
}

a {
	position: relative;
	transition: color ease-in 0.2s;
	color: hsl(197, 33%, 41%);
}

a:visited {
	color: hsl(191, 96%, 38%);
}

a:hover {
	color: hsl(197, 96%, 38%);
}

a:active {
	color: hsl(197, 96%, 38%);
}

a::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 2px;
	left: 0;
	border-bottom: 1px solid hsl(197, 96%, 38%);
	width: 0;
	transition: width 0.3s ease-in;
}

a:hover::after {
	width: 100%;
}